<phpunit bootstrap="vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="terminus-plugin">
      <directory prefix="test" suffix=".php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
