defaults: &defaults
  working_directory: ~/work/terminus_plugin
  environment:
    BASH_ENV: ~/.bashrc
    TZ: "/usr/share/zoneinfo/America/Los_Angeles"
    TERM: dumb

version: 2
jobs:
    unit:
        docker:
            - image: pantheonpublic/terminus-plugin-test:3.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Dependencies
                command: composer install
            - run:
                name: Lint
                command: composer lint
            - run:
                name: Unit
                command: composer unit
    terminus-3:
        docker:
            - image: pantheonpublic/terminus-plugin-test:3.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Check Terminus version
                command: terminus --version
            - run:
                name: Install plugin
                command: terminus self:plugin:install /home/tester/work/terminus_plugin/
            - run:
                name: Functional
                command: composer functional
    code-style:
        docker:
            - image: pantheonpublic/terminus-plugin-test:3.x
        <<: *defaults
        steps:
            - checkout
            - run:
                name: Set up environment
                command: ./.circleci/set-up-globals.sh
            - run:
                name: Run composer install
                command: composer install
            - run:
                name: Style
                command: composer cs

workflows:
  version: 2
  build_test:
    jobs:
      - unit
      - code-style
      - terminus-3:
          requires:
            - unit

